doctype html
html(lang="id")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Sistem Pendukung Keputusan menggunakan metode Analytic Hierarchy Process (AHP) murni")
    title= title || 'SPK | Metode AHP'
    link(rel="stylesheet", href="/css/style.css")
  body
    .app-container

      header.app-header
        h1.app-header__title Sistem Pendukung Keputusan (AHP)

      .grid-3col

        .glass-card
          .card-head
            .card-head__left
              .step-badge.step-badge--teal 1
              div
                .card-head__title Daftar Kriteria
            .btn.btn--add#addKriteria
              span + Tambah
          .card-body
            table.data-table#tableKriteria
              thead
                tr
                  th Nama Kriteria
                  th.text-end Aksi
              tbody

        .glass-card
          .card-head
            .card-head__left
              .step-badge.step-badge--green 2
              div
                .card-head__title Daftar Alternatif
            .btn.btn--add#addAlternatif
              span + Tambah
          .card-body
            table.data-table#tableAlternatif
              thead
                tr
                  th Nama Alternatif
                  th.text-end Aksi
              tbody

        .glass-card
          .card-head
            .card-head__left
              .step-badge.step-badge--purple 3
              div
                .card-head__title Skala Penilaian
            .btn.btn--add#addSubKriteria
              span + Tambah
          .card-body
            table.data-table#tableSubKriteria
              thead
                tr
                  th Nama Skala (Sub)
                  th.text-end Aksi
              tbody

      .grid-full
        .glass-card
          .card-head
            .card-head__left
              .step-badge.step-badge--purple 4
              div
                .card-head__title Perbandingan Berpasangan Kriteria
          .card-body
            .table-wrap
              table.data-table#tablePerbandinganKriteria
                thead
                  tr
                    th Kriteria
                tbody
            .ahp-meta-container
              div
                span.meta-label λ max:&nbsp;
                strong#lambdaMaxKriteria -
              div
                span.meta-label CI:&nbsp;
                strong#ciKriteria -
              div
                span.meta-label CR:&nbsp;
                strong#crKriteria -
              div
                span.meta-label Status:&nbsp;
                span.badge#statusKriteria -
            .table-wrap(style="margin-top:1rem")
              h4.sub-heading Bobot Prioritas Kriteria
              table.data-table#tableBobotKriteria
                thead
                  tr
                    th Kriteria
                    th.text-center Bobot (Prioritas)
                tbody

      .grid-full
        .glass-card
          .card-head
            .card-head__left
              .step-badge.step-badge--amber 5
              div
                .card-head__title Perbandingan Berpasangan Sub-kriteria
          .card-body
            .tabs#tabsSubkriteria
            .tab-content#tabContentSubkriteria

      .grid-full
        .glass-card
          .card-head
            .card-head__left
              .step-badge.step-badge--dark 6
              div
                .card-head__title Penilaian Alternatif
          .card-body
            .table-wrap
              table.data-table#tablePenilaian
                thead
                  tr
                    th Alternatif / Kriteria
                tbody

      .action-section
        .threshold-input
          label(for="thresholdInput") Threshold Kelayakan:&nbsp;
          input#thresholdInput.form-input.input-sm(type="number" value="0.65" min="0" max="1" step="0.01" style="width:80px; display:inline-block")
        button.btn.btn--primary#btnHitung(type="button") Hitung AHP

      #hasilSection.result-section

        .grid-full
          .glass-card
            .card-head
              .card-head__left
                .step-badge.step-badge--purple 7
                div
                  .card-head__title Matriks Hasil
            .card-body
              .table-wrap
                table.data-table#tableMatriksHasil
                  thead
                    tr
                      th Sub-kriteria
                  tbody

        .grid-full
          .glass-card
            .card-head
              .card-head__left
                .step-badge.step-badge--teal 8
                div
                  .card-head__title Detail Perhitungan
            .card-body#detailPerhitungan

        .grid-full
          .glass-card.glow-pulse
            .card-head
              .card-head__left
                .step-badge.step-badge--green 9
                div
                  .card-head__title Hasil Perangkingan AHP
              div(style="padding-right: 8px;")
                span.badge.badge--success#statusAHP -
            .card-body
              .table-wrap
                table.data-table#tableHasil
                  thead
                    tr
                      th.text-center Rank
                      th Nama Alternatif
                      th.text-center Nilai Akhir
                      th.text-center Keputusan
                  tbody


    script(src="/js/script.js")